/*
Web Page: Business Smart Campuss LP
Coder: Sahid Hossen
Auth Url: mdsahid.com
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
.clearfix_s {
  *zoom: 1;
}
.clearfix_s:before,
.clearfix_s:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix_s:after {
  clear: both;
}
/*@media (min-width: 1200px) {*/
  .container {
    /*width: 1280px;*/
    width: 1000px;
  }
/*}*/
/*
Hover Animation
*/
.hover-down,
.hover-up {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-down:hover {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hover-up:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
/*
Page Loading Animation
*/
.load {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  /*display: none;*/
}
.cssload-box-loading {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cssload-box-loading:before {
  content: '';
  /*width: 200px;*/
  height: 5px;
  background: #000000;
  opacity: 0.1;
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.58s linear infinite;
  -o-animation: shadow 0.58s linear infinite;
  -ms-animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
  -moz-animation: shadow 0.58s linear infinite;
}

.cssload-box-loading:after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-image: url(../img/indicator.png);
  background-size: cover;
  animation: spin 1.58s linear infinite;
  -o-animation: spin 1.58s linear infinite;
  -ms-animation: spin 1.58s linear infinite;
  -webkit-animation: spin 1.58s linear infinite;
  -moz-animation: spin 1.58s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@-o-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -o-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -o-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
  }
}
@-ms-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -ms-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -ms-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -ms-transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@-o-keyframes shadow {
  0%,
  100% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(1.2, 1);
  }
}
@-ms-keyframes shadow {
  0%,
  100% {
    -ms-transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(1.2, 1);
  }
}
@-webkit-keyframes shadow {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
  }
}
@-moz-keyframes shadow {
  0%,
  100% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1);
  }
}
.btn_arrow_s {
  width: 11px;
  margin-top: -5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn_arrow {
  width: 16px;
  margin-top: -8px;
  margin-left: 0px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-red:hover .btn_arrow_s {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.btn-red:hover .btn_arrow {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.scrollToTop {
  width: 118px;
  height: 34px;
  padding: 5px 0px 5px 5px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  display: none;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: #0055B9;
  font-size: 1em;
  letter-spacing: 0.8px;
  font-weight: bold;
}
.scrollToTop img {
  margin-top: -2px;
}
.scrollToTop:hover,
.scrollToTop:focus,
.scrollToTop:active {
  text-decoration: none;
}
/*
HEADING AREA
*/
.btn-red {
  background: #F93A3A;
  color: #ffffff;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 3px solid #F93A3A;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 8px 0px 4px 14px;
  font-size: 1.15em;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s ease-out 0s;
  /*-webkit-transition-duration: 0.3s;*/
  /*transition-duration: 0.3s;*/
  /*-webkit-transition-property: transform;*/
  /*transition-property: transform;*/
  /*-webkit-transition-timing-function: linear;*/
  /*transition-timing-function: linear;*/
}
.icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: url(../img/btn_arrow.png) no-repeat center center;
  display: inline-block;
  height: 30px;
  width: 27px;
  background-position: 0px 4px;
  background-size: 11px;
  vertical-align: middle;
}
.icon-large {
  background-position: 1px 0px;
  background-size: 16px;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus{
  background: #F93A3A;
  color: #fff;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #F93A3A;
  color: #ffffff;
}
.btn-red:hover .icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
  background: url(../img/btn_arrow_red.png) no-repeat center center;
  background-size: 11px;
  vertical-align: middle;
  background-position: 0 4px;
}
.btn-red:hover .icon-large {
  background-position: 1px 0px;
  background-size: 16px;
}
.btn-red:hover {
  background: #ffffff;
  color: #F93A3A;
  border-color: #F93A3A;
}
.heading {
  background: #0055b9;
  padding: 8px 2px;
  padding-top: 6.2px;
  padding-bottom: 3px;
}
.heading .logo {
  padding: 3.3px 0px 0px 8px;
}
.heading .logo img{
  width: 100%;
}
.heading .top_text {
  padding-left: 18.5px;
  padding-top: 1.5px;
}
.heading .top_text .top_text_img_2 img {
  margin-top: -3.5px;
  margin-left: -1px;
  width: 95.5%;
}
.heading .top_text img {
  width: 95%;
}
.heading .button {
  padding-top: 2.1px;
}
.heading .button .btn-red {
  margin-left: -41px;
  letter-spacing: 1.3px;
  margin-top: 4px;
}
.table_sec .table_heading {
  margin-top: 26px;
  margin-bottom: 27px;
}
.table_sec .table_heading .table_heading_img_1 img {
  width: 73%;
}
.table_sec .table_heading .table_heading_img_2 img {
  width: 47%;
}
.table_sec .table_heading p {
  text-align: center;
  padding-bottom: 2.5px;
  padding-right: 5px;
}
.table_sec .tables {
  width: 87%;
  margin: 0 auto;
}
.table_sec .tables .p_table {
  padding-right: 16px;
  padding-left: 14px;
}
.table_sec .tables .p_table .table_inner {
  height: 400px;
  padding: 6px;
  padding-top: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.table_sec .tables .p_table .table_inner .p_table_heading {
  padding: 1px 7px;
}

div.p_table_heading {
  height: 160px;
}

.p_table_heading img {
    width: 85.5%;
    margin-top: 2px;
}

.p_table_heading_2 img {
  width: 93%;
}

.table_sec .tables .p_table .table_inner .table_btns {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: 7px;
}
.table_sec .tables .p_table .table_inner .table_btns li {
  width: 47%;
  float: left;
  margin-right: 4px;
  padding-left: 8px;
  margin-bottom: 11.5px;
  display: block;
}
.table_sec .tables .p_table .table_inner .table_btns li img {
  display: inline-block;
  width: 100%;
}
.table_sec .tables .p_table .table_inner .table_btns li.clearfix {
  display: block;
  width: 96%;
}
.table_sec .tables .p_table .table_inner .table_btns:after,
.table_sec .tables .p_table .table_inner .table_btns:before {
  display: table;
  content: '';
}
.table_sec .tables .p_table .table_inner .table_btns:after {
  clear: both;
}
.table_sec .tables .t_2 .table_inner {
  padding-left: 8px;
  padding-right: 4px;
}
.table_sec .tables .t_3 {
  /*padding-left: 20px;
  padding-right: 14px;*/
}
.table_sec .tables .t_3 .table_inner {
  padding-left: 10px;
  padding-right: 2px;
}
.medel_sec {
  padding-top: 31px;
}
.medel_sec .medel_heading {
  background: #0055b9;
  height: 80px;
  padding-top: 25px;
  padding-left: 2px;
}

.medel_sec .medel_heading img {
  width: 86%;
}

.medel_sec .medel_body {
  padding-bottom: 20px;
}
.medel_sec .medel_body .medel_list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-align: center;
  margin-top: -10px;
  margin-left: 10.6%;
}
.medel_sec .medel_body .medel_list li {
  float: left;
  width: 30.7%;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.medel_sec .medel_body .medel_list li img {
  width: 100%;
}
.medel_sec .medel_body .medel_list li:nth-child(2) img {
  margin-left: -6%;
}
.medel_sec .medel_body .medel_list li:nth-child(3) img {
  margin-left: -11%;
}
.medel_sec .medel_body .medel_list li:hover {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.medel_sec .medel_body .medel_list:after,
.medel_sec .medel_body .medel_list:before {
  display: table;
  content: '';
}
.medel_sec .medel_body .medel_list:after {
  clear: both;
}
.medel_sec .sec_footer .btn-red {
  padding: 22px 140px;
  font-size: 2em;
}
.sec_footer {
  background: #0055b9;
  height: 140px;
  padding-top: 20px;
}
.sec_footer P:first-child {
  margin-bottom: 12px;
}
.sec_footer P:first-child .btn-red {
  letter-spacing: 2.6px;
  padding: 16px 75px 14px 84px;
  font-size: 1.6em;
  margin-left: 10px;
  font-weight: bold;
}
.sec_footer .text-center .contact {
  width: 40.7%;
}
.parallax {
  background: url(../img/bg_1.jpg) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.sec_1 {
  width: 100%;
  min-height: 360px;
  padding-top: 31px;
  margin: 0px;
}
.sec_1 .sec_1_text {
  width: 57%;
  margin: 0 auto;
  margin-bottom: 34px;
}
.sec_1 .sec_1_text img {
  width: 100%;
}
.sec_1 .sec_1_text:nth-child(2) {
  width: 73.5%;
  margin-bottom: 16px;
}
.sec_1 .sec_1_text:nth-child(2) img {
  margin-left: -14px;
}
.sec_1 .sec_1_text:nth-child(3) {
  width: 64%;
}
.sec_2 {
  margin-left: 0;
  margin-right: 0;
}
.sec_2 .sec_title.bg_dark {
  background: #666666;
  height: 60px;
  padding-top: 18px;
}
.sec_2 .sec_title.bg_dark .title_text {
  width: 30%;
  margin: 0 auto;
}
.sec_2 .sec_title.bg_dark .title_text img {
  width: 98%;
  margin-left: 12px;
}
.sec_2 .sec_2_body {
  padding-bottom: 23px;
  background: #ffffff;
}
.sec_2 .sec_2_body img {
  width: 100%;
}
.sec_2 .sec_2_body .sec_heading {
  width: 64%;
  margin: 0 auto;
  padding-top: 23px;
  padding-right: 6px;
  padding-left: 2px;
}
.sec_2 .sec_2_body .sec_2_text {
  width: 73%;
  margin: 0 auto;
  margin-top: -14px;
}
.sec_2 .sec_2_body .sec_2_text img {
  margin-left: -28px;
  margin-top: 6px;
}
.sec_2 .sec_2_body .sec_2_text p {
  margin-bottom: 0;
}
.sec_2 .sec_footer .btn-red {
  padding: 22px 140px;
  font-size: 2em;
}
.sec_2 .sec_footer .button {
  width: 50.2%;
  margin-top: 2px;
}
.sec_2 .sec_footer .contact {
  width: 41%;
}
.parallax_2 {
  background: url(../img/bg_2.jpg) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
  .sec_3 {
  width: 100%;
  min-height: 360px;
  padding-top: 30px;
  margin: 0px;
}
.sec_3 .sec_1_text {
  width: 56%;
  margin: 0 auto;
  margin-bottom: 44px;
}
.sec_3 .sec_1_text img {
  width: 100%;
}
.sec_3 .sec_1_text:nth-child(2) {
  width: 74%;
  margin-bottom: 16px;
}
.sec_3 .sec_1_text:nth-child(2) img {
  margin-left: -14px;
}
.sec_3 .sec_1_text:nth-child(3) {
  width: 63%;
}
.sec_3 .sec_1_text {
  width: 50%;
  margin-bottom: 35px;
}
.sec_3 .sec_1_text:nth-child(3) {
  width: 61%;
  margin-bottom: 13px;
  padding-right: 6px;
}
.sec_4 {
  margin-left: 0;
  margin-right: 0;
}
.sec_4 .sec_title.bg_dark {
  background: #666666;
  height: 60px;
  padding-top: 18px;
}
.sec_4 .sec_title.bg_dark .title_text {
  width: 30%;
  margin: 0 auto;
}
.sec_4 .sec_title.bg_dark .title_text img {
  width: 98%;
  margin-left: 11px;
}
.sec_4 .sec_2_body {
  padding-bottom: 1px;
  background: #ffffff;
}
.sec_4 .sec_2_body img {
  width: 100%;
}
.sec_4 .sec_2_body .sec_heading {
  width: 64%;
  margin: 0 auto;
  padding-top: 27px;
  padding-right: 6px;
}
.sec_4 .sec_2_body .sec_2_text {
  width: 73%;
  margin: 0 auto;
  margin-top: -12px;
}
.sec_4 .sec_2_body .sec_2_text img {
  margin-left: -35px;
}
.sec_4 .sec_2_body .sec_2_text p {
  margin-bottom: 0;
}
.sec_4 .sec_footer .btn-red {
  padding: 22px 140px;
  font-size: 2em;
}
.sec_4 .sec_footer .button {
  width: 50.2%;
  margin-top: 2px;
}
.sec_4 .sec_footer .contact {
  width: 41%;
}
.sec_4 .sec_title {
  height: 75px;
  padding-top: 16px;
}
.sec_4 .sec_2_circle ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
  margin-left: 6%;
}
.sec_4 .sec_2_circle ul li {
  width: 14.1%;
  margin-right: 17px;
  margin-top: 15px;
  float: left;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sec_4 .sec_2_circle ul li img {
  width: 100%;
}
.sec_4 .sec_2_circle ul li:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.sec_4 .sec_2_circle ul:after,
.sec_4 .sec_2_circle ul:before {
  display: table;
  content: '';
}
.sec_4 .sec_2_circle ul:after {
  clear: both;
}
.sec_4 .sec_2_body {
  padding-bottom: 27px;
}
.sec_4 .sec_2_body .sec_heading {
  padding-top: 22px;
}
.sec_4 .sec_footer .btn-red {
  padding: 22px 140px;
  font-size: 2em;
}
.parallax_3 {
  background: url(../img/bg_3.jpg) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.sec_5 {
  width: 100%;
  min-height: 360px;
  padding-top: 30px;
  margin: 0px;
}
.sec_5 .sec_1_text {
  width: 56%;
  margin: 0 auto;
  margin-bottom: 44px;
}
.sec_5 .sec_1_text img {
  width: 100%;
}
.sec_5 .sec_1_text:nth-child(2) {
  width: 72%;
  margin-bottom: 17px;
}
.sec_5 .sec_1_text:nth-child(2) img {
  margin-left: -14px;
}
.sec_5 .sec_1_text:nth-child(3) {
  width: 63%;
}
.sec_5 .sec_1_text {
  width: 49%;
  margin-bottom: 35px;
}
.sec_5 .sec_1_text:nth-child(3) {
  width: 60%;
  margin-bottom: 18px;
  padding-right: 8px;
}
.sec_5 .sec_1_text {
  width: 46.8%;
}
.sec_5 .sec_1_text:nth-child(2) {
  width: 75.5%;
}
.sec_5 .sec_1_text:nth-child(3) {
  width: 63%;
  padding-right: 7px;
}
.final_footer {
  height: 200px;
}
.final_footer .footer_title {
  padding-top: 6.5px;
  width: 73.5%;
  margin: 0 auto;
}
.final_footer .footer_title img {
  width: 100%;
  margin-left: 8px;
}
.final_footer .btn-red {
  padding: 15.5px 75px 15.5px 84px;
  font-size: 1.6em;
  margin-top: 24px;
  margin-left: 12px;
  font-weight: bold;
  letter-spacing: 2.6px;
}
.final_footer .contact {
  width: 41%;
  padding-top: 2px;
}
