/*
Web Page: Business Smart Campuss LP
Coder: Sahid Hossen
Auth Url: mdsahid.com
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
.clearfix_s {
  *zoom: 1;
}
.clearfix_s:before,
.clearfix_s:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix_s:after {
  clear: both;
}
.bg-blue {
  background: #0055b9;
}
.bg-dark {
  background: #666666;
}
.bg-dark p {
  margin-bottom: 0;
}
.container {
  overflow: hidden;
}
@media (min-width: 992px) {
  .container {
    width: 768px;
  }
}
/*
Page Loading Animation
*/
.load {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  /*display: none;*/
}
.cssload-box-loading {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cssload-box-loading:before {
  content: '';
  /*width: 49px;*/
  height: 5px;
  background: #000000;
  opacity: 0.1;
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.58s linear infinite;
  -o-animation: shadow 0.58s linear infinite;
  -ms-animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
  -moz-animation: shadow 0.58s linear infinite;
}
.cssload-box-loading:after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-image: url(../img/indicator.png);
  background-size: cover;
  animation: spin 1.58s linear infinite;
  -o-animation: spin 1.58s linear infinite;
  -ms-animation: spin 1.58s linear infinite;
  -webkit-animation: spin 1.58s linear infinite;
  -moz-animation: spin 1.58s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@-o-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -o-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -o-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
  }
}
@-ms-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -ms-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -ms-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -ms-transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@-o-keyframes shadow {
  0%,
  100% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(1.2, 1);
  }
}
@-ms-keyframes shadow {
  0%,
  100% {
    -ms-transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(1.2, 1);
  }
}
@-webkit-keyframes shadow {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
  }
}
@-moz-keyframes shadow {
  0%,
  100% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1);
  }
}
.hover-down,
.hover-up {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-down:hover {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hover-up:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.btn-red {
  background: #F93A3A;
  color: #fff;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px 20px;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.icon {
  margin-top: -5px;
  padding: 0 !important;
  width: auto !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width: 15px !important;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus,
.btn-red:hover {
  background: #F93A3A;
  color: #fff;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #F93A3A;
  color: #ffffff;
}
.btn-red:hover .icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
.scrollToTop {
  width: 81px;
  height: 30px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: #0055B9;
  font-size: 1em;
}
.scrollToTop img {
  margin-top: -2px;
  width: 15px;
}
.scrollToTop:hover,
.scrollToTop:focus,
.scrollToTop:active {
  text-decoration: none;
}
.heading {
  background: #0055b9;
  padding-bottom: 7px;
}
.heading p {
  margin-bottom: 0;
}
.heading img {
  width: 100%;
}
.heading .logo {
  padding: 0;
  padding-top: 8px;
}
.heading .logo img {
  margin-left: 6px;
}
.heading .site_title {
  padding-top: 7px;
  padding-right: 6px;
}
.heading .site_title img {
  margin-left: -2px;
}
.sec_1 {
  padding-top: 16px;
}
.sec_1 .sec_text_1 {
  width: 68%;
  margin: 0 auto;
  margin-bottom: 13px;
}
.sec_1 .sec_text_2 {
  width: 83%;
  margin: 0 auto;
}
.sec_1 .sec_btn {
  /*width: 81.1%;*/
  margin: 0 auto;
  margin-top: 16px;
}
.sec_1 .sec_btn img {
  margin-left: .5px;
}
.sec_1 .table_area {
  width: 93%;
  margin: 0 auto;
  margin-top: 16px;
}
.sec_1 .table_area .table {
  width: 100%;
  padding: 10px;
  padding-right: 4px;
  padding-bottom: 7px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 19px;
}
.sec_1 .table_area .table .table_title {
  padding-left: 3px;
  padding-right: 24px;
}
.sec_1 .table_area .table ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: 14px;
}
.sec_1 .table_area .table ul li {
  width: 31%;
  float: left;
  margin-right: 6px;
  padding-left: 3px;
  margin-bottom: 4px;
  height: 58px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sec_1 .table_area .table ul li img {
  width: 100%;
}
.sec_1 .table_area .table ul li.big_btn {
  width: 64.3%;
}
.sec_1 .table_area .table ul li:hover {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.sec_1 .table_area .table ul:after,
.sec_1 .table_area .table ul:before {
  display: table;
  content: '';
}
.sec_1 .table_area .table ul:after {
  clear: both;
}
.sec_1 .table_area .table:nth-child(2) {
  margin-bottom: 18px;
}
.sec_1 .table_area .table:nth-child(2) .table_title {
  padding-right: 9px;
}
.sec_1 .table_area .table:last-child {
  margin-bottom: 23px;
}
.sec_2 .sec_heading {
  padding: 14px 24px 2px 24px;
}
.sec_2 .sec_body {
  margin-bottom: 19px;
}
.sec_2 .sec_body .circles {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  margin-top: 18px;
  margin-left: 8px;
}
.sec_2 .sec_body .circles li {
  width: 33%;
  margin-right: 0px;
  float: left;
  margin-left: -1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sec_2 .sec_body .circles li img {
  width: 100%;
}
.sec_2 .sec_body .circles li:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.sec_2 .sec_body .circles:after,
.sec_2 .sec_body .circles:before {
  display: table;
  content: '';
}
.sec_2 .sec_body .circles:after {
  clear: both;
}
.sec_footer {
  padding: 14px 0;
  padding-top: 15px;
}
.sec_footer p {
  margin: 0;
}
.sec_footer .button {
  width: 81%;
  margin-left: 1px;
}
.sec_footer .contact {
  width: 84%;
}
.sec_footer p:last-child {
  padding-top: 6px;
}
.parallex_1 {
  background: url(../img/bg_1.png) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.sec_3 {
  background: url(../img/sp/bg_1.jpg) center center repeat-x;
  padding-bottom: 2px;
}
.sec_3 img {
  width: 100%;
}
.sec_3 .sec_text_1 {
  padding: 15px 25px;
  padding-bottom: 0;
}
.sec_3 .sec_text_2 {
  padding: 2px 60px;
}
.sec_3 .sec_text_3 {
  padding: 1px 55px;
}
.sec_3 .sec_text_3 .bottom_heading {
  margin: 0 auto;
  width: 49%;
  padding-bottom: 11px;
}
.sec_4 .sec_heading img {
  width: 100%;
}
.sec_4 .sec_body {
  padding-top: 10px;
  background: #ffffff;
}
.sec_4 .sec_text_1 {
  width: 75%;
  margin: 0 auto;
  padding-top: 3px;
}
.sec_4 .sec_text_1 img {
  margin-left: -4px;
}
.sec_4 .sec_text_2 {
  width: 92.8%;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 9px;
}
.parallex_2 {
  background: url(../img/bg_2.png) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.sec_5 {
  background: url(../img/sp/bg_2.jpg) center center repeat-x;
  padding-bottom: 2px;
}
.sec_5 img {
  width: 100%;
}
.sec_5 .sec_text_1 {
  padding: 15px 25px;
  padding-bottom: 0;
}
.sec_5 .sec_text_2 {
  padding: 2px 60px;
}
.sec_5 .sec_text_3 {
  padding: 1px 55px;
}
.sec_5 .sec_text_3 .bottom_heading {
  margin: 0 auto;
  width: 49%;
  padding-bottom: 11px;
}
.sec_5 .sec_text_1 {
  padding: 14px 46px;
  padding-bottom: 0;
}
.sec_5 .sec_text_3 {
  padding: 4px 46px;
}
.sec_6 .sec_heading img {
  width: 100%;
}
.sec_6 .sec_body {
  padding-top: 10px;
  background: #ffffff;
}
.sec_6 .sec_text_1 {
  width: 75%;
  margin: 0 auto;
  padding-top: 3px;
}
.sec_6 .sec_text_1 img {
  margin-left: -4px;
}
.sec_6 .sec_text_2 {
  width: 92.8%;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 9px;
}
.sec_6 .sec_6_circles {
  margin-bottom: 10px;
}
.sec_6 .sec_6_circles ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 24px;
  margin-top: 14px;
}
.sec_6 .sec_6_circles ul li {
  float: left;
  width: 29%;
  margin-right: 11px;
  position: relative;
  margin-bottom: 7px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sec_6 .sec_6_circles ul li img {
  width: 100%;
}
.sec_6 .sec_6_circles ul li:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.sec_6 .sec_6_circles ul:after,
.sec_6 .sec_6_circles ul:before {
  display: table;
  content: '';
}
.sec_6 .sec_6_circles ul:after {
  clear: both;
}
.sec_6 .sec_body {
  padding-top: 10px;
  background: #ffffff;
}
.parallex_3 {
  background: url(../img/bg_3.png) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.sec_7 {
  background: url(../img/sp/bg_3.jpg) center center repeat-x;
  padding-bottom: 2px;
}
.sec_7 img {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
.sec_7 .sec_text_1 {
  padding: 15px 25px;
  padding-bottom: 0;
}
.sec_7 .sec_text_2 {
  padding: 2px 60px;
}
.sec_7 .sec_text_3 {
  padding: 1px 55px;
}
.sec_7 .sec_text_3 .bottom_heading {
  margin: 0 auto;
  width: 49%;
  padding-bottom: 11px;
}
.sec_7 .sec_text_1 {
  padding: 14px 46px;
  padding-bottom: 0;
}
.sec_7 .sec_text_3 {
  padding: 4px 46px;
}
.sec_7 .sec_text_1 {
  padding: 15px 55px;
  padding-bottom: 0;
}
.sec_7 .sec_text_2 {
  padding: 2px 54px;
}
.sec_7 .sec_text_3 {
  padding: 4px 27px;
  padding-bottom: 6px;
}
.sec_7 .sec_7_footer_text {
  padding: 0px 12px 10px 19px;
}
@media (max-width: 480px) {
  .sec_1 .table_area .table ul li {
    height: 35px;
  }
}
