/*
Web Page: Business Smart Campuss LP
Coder: Sahid Hossen
Auth Url: mdsahid.com
*/

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
  }

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

.clearfix_s{
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@color-blue : #0055b9;
@color-gray: #666666;


@media (min-width: 1200px){
  .container {
    width: 1280px;
  }
}


/*
Hover Animation
*/


.hover-down,.hover-up {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-down:hover {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hover-up:hover{
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


/*
Page Loading Animation
*/
.load {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #ffffff;
  /*display: none;*/
}

.cssload-box-loading {
  width: 49px;
  height: 49px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cssload-box-loading:before {
  content: '';
  width: 49px;
  height: 5px;
  background: rgb(0,0,0);
  opacity: 0.1;
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.58s linear infinite;
  -o-animation: shadow 0.58s linear infinite;
  -ms-animation: shadow 0.58s linear infinite;
  -webkit-animation: shadow 0.58s linear infinite;
  -moz-animation: shadow 0.58s linear infinite;
}
.cssload-box-loading:after {
  content: '';
  width: 49px;
  height: 49px;
  background: rgb(0,85,179);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  animation: cssload-animate 0.58s linear infinite;
  -o-animation: cssload-animate 0.58s linear infinite;
  -ms-animation: cssload-animate 0.58s linear infinite;
  -webkit-animation: cssload-animate 0.58s linear infinite;
  -moz-animation: cssload-animate 0.58s linear infinite;
}



@keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@-o-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -o-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -o-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
  }
}

@-ms-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -ms-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -ms-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -ms-transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
  }
}

@-moz-keyframes cssload-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

@-o-keyframes shadow {
  0%,
  100% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(1.2, 1);
  }
}

@-ms-keyframes shadow {
  0%,
  100% {
    -ms-transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(1.2, 1);
  }
}

@-webkit-keyframes shadow {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
  }
}

@-moz-keyframes shadow {
  0%,
  100% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1);
  }
}

.scrollToTop{
  width: 154px;
  height: 45px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 24px;
  right: 101px;
  display: none;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: #0055B9;
  font-size: 1.8em;
}
.scrollToTop img {
  margin-top: -2px;
}
.scrollToTop:hover,.scrollToTop:focus,.scrollToTop:active{
  text-decoration:none;
}

/*
HEADING AREA
*/
.btn-red {
  background: #F93A3A;
  color: #fff;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 17px 31px;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.icon {
   margin-top: -5px;
  padding: 0 !important;
  width: auto !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-danger:active:hover, .btn-danger.active:hover, .open>.dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open>.dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open>.dropdown-toggle.btn-danger.focus,.btn-red:hover {
  background: #F93A3A;
  color: #fff;
  box-shadow:none;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #F93A3A;
  color: #ffffff;
}
.btn-red:hover .icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
.heading {
  background: @color-blue;
  padding: 8px 2px;
  padding-top: 4px;
  padding-bottom: 7.4px;
    .logo {
      padding: 0px 0px 0 9px;
    }
    .top_text {
      padding-left: 22px;
      padding-top: 3px;
    }
  .button {
    padding-top: 2px;
    .btn-red {
      margin-left: -50px;
    }
  }

}

.table_sec {
  .table_heading {
    margin-top: 29px;
    margin-bottom: 32px;
     p{
       text-align: center;
       padding-bottom: 3px;
       padding-right: 5px;
     }
  }
  .tables {
    width: 87%;
    margin: 0 auto;
      .p_table {
        padding-right: 19px;

         .table_inner {
          height: 510px;
          padding: 13px;
          padding-top: 21px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
           -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
           -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
           box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
            .p_table_heading {
              padding: 1px 6px;
            }
            .table_btns {
              margin: 0;
              padding: 0;
              list-style:none;
              position: relative;
              margin-top: 7px;
                li {
                  width: 47%;
                  float: left;
                  margin-right: 9px;
                  padding-left: 8px;
                  margin-bottom: 14.5px;
                  display: block;
                      img {
                        display: inline-block;
                        width: 100%;

                      }
                }
                li.clearfix {
                  display: block;
                  width: 100%;
                }

            }
          .table_btns:after,.table_btns:before {
            display: table;
            content: '';
          }
          .table_btns:after {
            clear: both;
          }
        }

      }
    .t_2 {
      .table_inner {
        padding-left: 15px;
        padding-right: 8px;
      }
    }
    .t_3 {
      padding-left: 20px;
      padding-right: 14px;
        .table_inner {
          padding-left: 13px;
        }
    }
  }
}

.medel_sec {
   padding-top: 42px;
    .medel_heading {
      background: @color-blue;
      height: 103px;
      padding-top: 32px;
    }
    .medel_body {
      padding-bottom: 26px;
      .medel_list {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        text-align: center;
        margin-top: -18px;
        margin-left: 135px;
          li {
            float: left;
            width: 30.8%;
            cursor: pointer;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
              img {
                width: 100%;
              }
          }
        li:nth-child(2){
          img {
            margin-left: -25px;
          }
        }
        li:nth-child(3){
          img {
            margin-left: -43px;
          }
        }
        li:hover {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
      }
      .medel_list:after,.medel_list:before {
        display: table;
        content: '';
      }
      .medel_list:after {
        clear: both;
      }
    }
  .sec_footer{
    .btn-red {
      padding: 22px 140px;
      font-size: 2em;
    }
  }
}
.sec_footer {
  background: @color-blue;
  height: 186px;
  padding-top: 24px;
  P:first-child {
    margin-bottom: 13px;
    a {
      img {
        //margin-right: -13px;
      }
    }

    .btn-red {
      padding: 27px 142px;
      font-size: 2em;
      margin-left: 13px;
    }

  }
}
.parallax {
   background: url(../img/bg_1.png) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
   background-attachment: fixed;
}
.sec_1 {
  //background: url(../img/bg_1.png) center center no-repeat;
  //-webkit-background-size: cover;
  //background-size: cover;
  min-height: 462px;
  padding-top: 38px;
    .sec_1_text {
      width: 56%;
      margin: 0 auto;
      margin-bottom: 44px;
        img {
          width: 100%;
        }
    }
  .sec_1_text:nth-child(2){
    width: 72%;
    margin-bottom: 20px;
      img {
        margin-left: -14px;
      }
  }
  .sec_1_text:nth-child(3){
    width: 63%;

  }
}

.sec_2 {
  margin-left: 0;
  margin-right: 0;
  .sec_title.bg_dark {
    background: @color-gray;
    height: 76px;
    padding-top: 19px;
      .title_text {
        width: 30%;
        margin: 0 auto;
          img {
            width: 100%;
            margin-left: 15px;
          }

      }
  }
  .sec_2_body {
    padding-bottom: 1px;
    background: #ffffff;
      img {
        width: 100%;
      }
      .sec_heading {
        width: 64%;
        margin: 0 auto;
        padding-top: 27px;
        padding-right: 6px;
      }
      .sec_2_text {
        width: 73%;
        margin: 0 auto;
        margin-top: -12px;
          img {
            margin-left: -35px;
          }
        p {
          margin-bottom: 0;
        }
      }
  }
  .sec_footer {

      .btn-red {
        padding: 22px 140px;
        font-size: 2em;
      }

      .button {
        width: 50.2%;
        margin-top: 2px;
      }
      .contact {
        width: 41%;
      }
  }
}

.parallax_2 {
  background: url(../img/bg_2.png) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  //height: 600px;
  background-attachment: fixed;
}

.sec_3 {
    .sec_1;
  //background: url(../img/bg_2.png) center top no-repeat;
  .sec_1_text {
    width: 49%;
    margin-bottom: 41px;
  }
  .sec_1_text:nth-child(3) {
    width: 60%;
    margin-bottom: 18px;
    padding-right: 8px;
  }

}
.sec_4 {
  .sec_2;
  .sec_title {
    height: 75px;
    padding-top: 16px;
  }
    .sec_2_circle {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        text-align: center;
        margin-left: 78px;
          li {
            width: 14.1%;
            margin-right: 22px;
            margin-top: 22px;
            float: left;
            cursor: pointer;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
              img {
                width: 100%;
              }
          }
        li:hover {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
      ul:after,ul:before {
        display: table;
        content: '';
      }
      ul:after {
        clear: both;
      }
    }
  .sec_2_body {
    padding-bottom: 35px;
      .sec_heading {
        padding-top: 28px;
      }

  }
  .sec_footer{
    .btn-red{
      padding: 22px 140px;
      font-size: 2em;
    }
  }
}
.parallax_3 {
  background: url(../img/bg_1.png) center center repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  //height: 600px;
  background-attachment: fixed;
}
.sec_5 {
  .sec_3;
  //background: url(../img/bg_2.png) center top no-repeat;
  .sec_1_text {
    width: 46%;
  }
  .sec_1_text:nth-child(2) {
    width: 74%;
  }
  .sec_1_text:nth-child(3) {
    width: 62%;
    padding-right: 9px;
  }
}
.final_footer {
  height: 255px;
    .footer_title {
      padding-top: 7px;
      width: 73.8%;
      margin: 0 auto;
        img {
          width: 100%;
          margin-left: 12px;
        }
    }
  .btn-red{
    padding: 22px 140px;
    font-size: 2em;
     margin-top: 31px;
    margin-left: 13px;
    padding-bottom: 29px;
  }

  .contact {
    width: 41%;
    padding-top: 3px;
  }
}
